body{
    background-color: aqua;
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    text-align: center;
    margin-bottom: 30px;
}

div{
    display: flex;
    margin:auto;
}

#app{
    margin-top:200px;
}

.button{
    border:none;
    text-decoration: none;
    background-color: rgb(4, 117, 121);
    color:white;
    font-size: 20px;
    padding: 15px;
    border-radius:20px;
    border:1px solid #fff;
    
    
}
.buttons{
    margin-top: 20px;
    width:200px;
    display: flex;
    justify-content: space-between;
}
.timer{
    display: flex;
    flex-direction: column;
}
p{
    text-align: center;
    font-size: 20px;
}